/* Contacto */

form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(255, 250, 250);
    font-family: 'Roboto', sans-serif;
  }
  
  input {
    &[type="text"], &[type="email"] {
      display: block;
      width: 100%;
      padding: 10px;
      border: 2px $color-grisoscuritito;
      border-radius: 5px;
      font-size: 16px;
      margin-bottom: 10px;
      font-family: 'Roboto', sans-serif;
    }
  }
  
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px $color-grisoscuritito ;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
  }
  
  .btnFormulario {
    background-color: rgba(66, 65, 65, 0.61);
    color: azure;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
  }
  
  .link {
    color: $color-lila;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
  }
  
  .whats {
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  