/* Main */

main {
    margin: 5px;
    padding: 5px;
  }
  
  h1 {
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    margin: 20px;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  h3, h4 {
    color: #928DAB;
    text-align: center;
    text-decoration: none;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  h2 {
    color: whitesmoke;
    text-align: left;
    text-decoration: none;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  p {
    text-align: left;
    margin: 25px;
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
  }
  
  .ph1 {
    text-align: left;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(221, 218, 218);
    font-weight: bold;
    font-size: 20px;
  }
  